.heading-primary {
  color: #4c494b;
}

.heading-cta {
  color: #c7c6c7;
  font-weight: 100;
  font-family: "GothamLight";
  margin-bottom: 3rem;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 7rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.app-logo {
  width: 10rem;
  height: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-label {
  color: #7d7b7c;
  font-family: "GothamLight";
  font-size: 1.2rem;
}

.checkbox-container {
  display: flex;
  margin-bottom: 4rem;
}

.checkbox-label {
  margin-left: 1rem;
  color: #7d7b7c;
  font-family: "GothamLight";
  font-size: 1.2rem;
}

input[type="email"] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  color: #4c494b;
}

.submit-button {
  background: none;
  border: none;
  color: #4c494b;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 1rem 4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit-button:hover {
  background-color: #4c494b;
  color: #fff;
}
