.heading-primary {
  color: #4c494b;

  @media only screen and (max-width: 415px) {
    font-size: 2.7rem;
  }
}

.heading-cta {
  color: #c7c6c7;
  font-weight: 100;
  font-family: "GothamLight";
  margin-bottom: 3rem;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 7rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

  @media only screen and (max-width: 415px) {
    padding: 2rem;
    width: 86%;
  }
}

.app-logo {
  width: 10rem;
  height: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
}
