/* 

Font free to use in personal projects - to use it in production please buy it from:
https://www.typography.com/fonts/gotham/styles

*/
@font-face {
  font-family: "GothamMedium";
  font-style: normal;
  font-weight: 400;
  src: local("GothamMedium"), local("GothamMedium"),
    url("./fonts/GothamMedium.ttf") format("truetype");
}

@font-face {
  font-family: "GothamLight";
  font-style: normal;
  font-weight: 100;
  src: local("GothamLight"), local("GothamLight"),
    url("./fonts/GothamLight.ttf") format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherits;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
  font-family: "GothamMedium";
  background-color: #fafafa;
}
